/autom4te.cache

Makefile
config.*
*.deps
stamp-h1

# Doxygen files
doc/Doxyfile
doc/doxyfile.stamp
doc/html/

# VIM gitignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Ignore OS X Files
*.DS_Store

# Compiled Static libraries
*.a

# Object files
*.o
